<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: myHeader"/>
<body>
<nav th:replace="fragments.html :: myNav ('유저 리스트')"/>
<div th:replace="fragments.html :: topDiv1"/>
<div th:replace="fragments.html :: topDiv3"/>
<br/><br/>
<div align="center">
    <table style="width: 600px;">
        <thead>
        <tr style="height: 30px;">
            <th style="width: 50px;">#</th>
            <th style="width: 250px;">닉네임</th>
            <th style="width: 100px;">등급</th>
            <th style="width: 100px;">글 갯수</th>
            <th style="width: 100px;">좋아요 수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}" style="height: 30px;">
            <td th:text="${user.id}"/>
            <td th:text="${user.nickname}"/>
            <td th:text="${user.role}"/>
            <td th:text="${user.contents.size()}"></td>
            <td th:text="${user.likeCount}"/>
        </tr>
        </tbody>
    </table>
    <br/>
    <button style="width:50px;"  th:onclick="|location.href='@{/user/list(page=1)}'|">&lt;&lt;</button>
    <button th:if="${hasPreviousPage}" style="width:50px;"
            th:onclick="|location.href='@{/user/list(page=${nowPage-1})}'|">&lt;</button>
    <button th:unless="${hasPreviousPage}"style="width:50px; background-color: lightyellow">&lt;</button>

    <span>[[${nowPage}]] / [[${lastPage}]] page</span>

    <button th:if="${hasNextPage}" style="width:50px;"
            th:onclick="|location.href='@{/user/list(page=${nowPage+1})}'|">&gt;</button>
    <button th:unless="${hasNextPage}" style="width:50px; background-color: lightyellow">&gt;</button>
    <button style="width:50px;" th:onclick="|location.href='@{/user/list(page=${lastPage})}'|">&gt;&gt;</button>
</div>
</body>
</html>